.clearfix {
    overflow: hidden;
    clear: both;
}

#main {
    width: 960px;
    margin: 0 auto;
}

#main nav {
    width: 100%;
}

#main nav ul {
    list-style: none;
    display: flex;
}

#main nav ul li {
    margin: 10px;
}

#main nav ul li a {
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

.selected,
#main nav ul li:hover>a {
    background-color: red;
    color: #fff;
}

.item {
    width: 236px;
    margin-right: 5px;
    float: left;
}

.item-fixed {
    margin-right: 0;
}

.item img {
    width: 236px;
    height: 150px;
}

#paper {
    text-align: right;
}

#paper ul {
    list-style: none;
    float: right;
}