<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- BEGIN: head -->
    <header>
        <nav>
            <div class="logo">
                <img src="../images/logo.png" alt="" style="width: 80%">
                <i class="fa-solid fa-bars" style="display: none;" onclick="handleClickMenu()"></i>
            </div>

            <ul class="menu">
                <li class="menu__item"><a href="../view/index.html">TRANG CHỦ</a></li>
                <li class="menu__item"><a href="../view/gioithieu.html">GIỚI THIỆU</a></li>
                <li class="menu__item"><a href="../view/sanpham.html">SẢN PHẨM</a></li>
                <li class="menu__item selected"><a href="../view/tintuc.html">TIN TỨC</a></li>
                <li class="menu__item"><a href="../view/doitac.html">ĐỐI TÁC</a></li>
                <li class="menu__item"><a href="../view/lienhe.html">LIÊN HỆ</a></li>
            </ul>
        </nav>
    </header>
    <!-- END: head -->

    <!-- BEGIN: main  -->
    <main>
        <section class="link">
            <div class="container">
                <a href="../view/index.html">Trang chủ</a>
                &gt;
                <a href="../view/tintuc.html">Tin tức</a>
            </div>
        </section>

        <section class="content">
            <div class="container">
                <div class="infomation">
                    <h1>NGẤT NGÂY VỚI TOP 10 MẪU NỘI THẤT CHUNG CƯ 1 PHÒNG NGỦ
                        ĐẸP NHẤT</h1>
                    <p>Những căn hộ chung cư mini, có diện tích nhỏ ngày càng trở nên nên ưa chuộng hơn trong cuộc sống
                        hiện đại với những ai có khoản kinh phí "hạn hẹp". Thiết kế nội thất chung cư 1 phòng ngủ chính
                        là giải pháp tối ưu nhất để mang lại một không gian sống hoàn hảo và hiện đại.</p>
                    <p>Vậy hãy cùng Nội thất Mạnh Hệ xem qua bài viết dưới đây để tham khảo thêm nhiều ý tưởng thiết kế
                        nội thất chung cư 1 phòng ngủ thật ấm cúng và tiện nghi nhé!</p>
                    <img src="../images/tin-tuc/baiviet.png" alt="">
                </div>

                <div class="news-blog">
                    <h3 class="title">
                        BÀI VIẾT MỚI
                    </h3>

                    <div class="box">
                        <div class="new-product">
                            <img src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc-2.png" alt="">
                            <p>25+ MẪU GIƯỜNG NGỦ HỘC KÉO THÔNG MINH CHO CĂN PHÒNG NHỎ CỦA BẠN</p>
                        </div>
                        <div class="new-product">
                            <img src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc-2.png" alt="">
                            <p>25+ MẪU GIƯỜNG NGỦ HỘC KÉO THÔNG MINH CHO CĂN PHÒNG NHỎ CỦA BẠN</p>
                        </div>
                        <div class="new-product">
                            <img src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc-2.png" alt="">
                            <p>25+ MẪU GIƯỜNG NGỦ HỘC KÉO THÔNG MINH CHO CĂN PHÒNG NHỎ CỦA BẠN</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- END: main  -->

    <!-- BEGIN: footer -->
    <footer>
        <div class="container">
            <div class="infor">
                <div class="title">THÔNG TIN CHUNG</div>
                <ul class="list-infor">
                    <li style="font-size: 1.7rem; font-family: 'font-medium';">CÔNG TY TNHH HOÀNG HOAN</li>
                    <li><i class="fa-solid fa-phone"></i>&nbsp;0.999.999</li>
                    <li><i class="fa-solid fa-envelope"></i>&nbsp;cskh@gmail.com</li>
                    <li><i class="fa-solid fa-location-dot"></i>&nbsp;Nguyễn trãi, Hà Nội</li>
                </ul>
            </div>

            <div class="about-us">
                <div class="title">VỀ CHÚNG TÔI</div>
                <ul class="list-pages">
                    <li><a href="#">GIỚI THIỆU</a></li>
                    <li><a href="#">SẢN PHẨM</a></li>
                    <li><a href="#">TIN TỨC</a></li>
                    <li><a href="#">ĐỐI TÁC</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
            </div>

            <div class="contact">
                <div class="title">KẾT NỐI VỚI CHÚNG TÔI</div>
                <ul>
                    <li>
                        <div>
                            <img src="../images/facebook.png" alt="">
                        </div>
                        <div>
                            <img src="../images/zalo.png" alt="">
                        </div>
                        <div>
                            <img src="../images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../images/xacnhan-bocongthong.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- END: footer -->

    <script>
        const handleClickMenu = () => {
            document.querySelector('.menu').classList.toggle('response-menu');
        }
    </script>
</body>

</html>