<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- BEGIN: head -->
    <header>
        <nav>
            <div class="logo">
                <img src="../images/logo.png" alt="" style="width: 80%">
                <i class="fa-solid fa-bars" style="display: none;" onclick="handleClickMenu()"></i>
            </div>

            <ul class="menu">
                <li class="menu__item selected"><a href="../view/index.html">TRANG CHỦ</a></li>
                <li class="menu__item"><a href="../view/gioithieu.html">GIỚI THIỆU</a></li>
                <li class="menu__item"><a href="../view/sanpham.html">SẢN PHẨM</a></li>
                <li class="menu__item"><a href="../view/tintuc.html">TIN TỨC</a></li>
                <li class="menu__item"><a href="../view/doitac.html">ĐỐI TÁC</a></li>
                <li class="menu__item"><a href="../view/lienhe.html">LIÊN HỆ</a></li>
            </ul>
        </nav>
    </header>
    <!-- END: head -->

    <main>
        <!-- BEGIN: banner -->
        <section class="banner">
            <div class="banner-container">
                <div class="w-100">
                    <img class="w-100" src="../images/banner.png" alt="">
                </div>
                <div class="introduction">
                    <h1 class="text-blue" style="font-family: 'font-ultra';">THẾ GIỚI NỘI THẤT SỐ 1 VIỆT NAM</h1>
                    <h1 class="text-gold" style="font-family: 'font-ultra';">HOÀNG HOAN</h1>
                    <p class="w-50 my-4">Sứ mệnh của chúng tôi là kết hợp hài hòa giữa ý tưởng và mong muốn của khách
                        hàng, đem lại những phút giây thư giãn tuyệt vời bên gia đình và những người thân yêu.</p>
                    <button class="btn btn-secondary bg-gold border-0 rounded-0 px-5 py-3"><a class="text-light"
                            href="../view/lienhe.html">LIÊN HỆ
                            NGAY</a></button>
                </div>
            </div>
        </section>
        <!-- END: banner -->

        <!-- BEGIN: product -->
        <section class="product bg-gray pb-5">
            <div class="container">
                <div class="category mb-5 d-flex flex-wrap text-center position-relative z-3 bg-white w-100"
                    style="margin-top: -4rem">
                    <div class="category-item col-lg-3 col-md-6 col-xs-12 p-4">
                        <a href="../view/sanpham-all.html">
                            <img src="../images/loai-sp/icon-phong-khach.png" alt="">
                            <p class="text-blue fs-5" style="font-family: 'font-ultra';">Phòng khách</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-md-6 col-xs-12 p-4">
                        <a href="../view/sanpham-all.html">
                            <img src="../images/loai-sp/icon-phong-ngu.png" alt="">
                            <p class="text-blue fs-5" style="font-family: 'font-ultra';">Phòng ngủ</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-md-6 col-xs-12 p-4">
                        <a href="../view/sanpham-all.html">
                            <img src="../images/loai-sp/icon-phong-bep.png" alt="">
                            <p class="text-blue fs-5" style="font-family: 'font-ultra';">Phòng bếp</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-md-6 col-xs-12 p-4">
                        <a href="../view/sanpham-all.html">
                            <img src="../images/loai-sp/icon-phong-tam.png" alt="">
                            <p class="text-blue fs-5" style="font-family: 'font-ultra';">Phòng tắm</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-md-6 col-xs-12 p-4">
                        <a href="../view/sanpham-all.html">
                            <img src="../images/loai-sp/icon-tre-em.png" alt="">
                            <p class="text-blue fs-5" style="font-family: 'font-ultra';">Trẻ em</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-md-6 col-xs-12 p-4">
                        <a href="../view/sanpham-all.html">
                            <img src="../images/loai-sp/icon-van-phong.png" alt="">
                            <p class="text-blue fs-5" style="font-family: 'font-ultra';">Văn phòng</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-md-6 col-xs-12 p-4">
                        <a href="../view/sanpham-all.html">
                            <img src="../images/loai-sp/icon-cau-thang.png" alt="">
                            <p class="text-blue fs-5" style="font-family: 'font-ultra';">Cầu thang</p>
                        </a>
                    </div>
                    <div class="category-item col-lg-3 col-md-6 col-xs-12 p-4">
                        <a href="../view/sanpham-all.html">
                            <img src="../images/loai-sp/icon-do-trang-tri.png" alt="">
                            <p class="text-blue fs-5" style="font-family: 'font-ultra';">Đồ trang trí</p>
                        </a>
                    </div>
                </div>

                <div class="highlight mt-7rem text-center">
                    <h1 class="title-v1 my-5 position-relative font-ultra text-blue">
                        SẢN PHẨM NỔI BẬT
                    </h1>

                    <ul class="slide-product p-0">
                        <li class="highlight-item">
                            <a href="../view/chitietsanpham.html">
                                <img src="../images/san-pham-noi-bat/sp-1.jpg" class="m-auto" alt="">
                                <h3 class="text-blue font-ultra fs-5 mt-3">GIƯỜNG CHÂU ÂU</h3>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p class="text-secondary">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="highlight-item">
                            <a href="../view/chitietsanpham.html">
                                <img src="../images/san-pham-noi-bat/sp-2.jpg" class="m-auto" alt="">
                                <h3 class="text-blue font-ultra fs-5 mt-3">BÀN LÀM VIỆC</h3>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p class="text-secondary">(Size vừa, trắng nâu)</p>
                                <p>10.999.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="highlight-item">
                            <a href="../view/chitietsanpham.html">
                                <img src="../images/san-pham-noi-bat/sp-3.jpg" class="m-auto" alt="">
                                <h3 class="text-blue font-ultra fs-5 mt-3">TỦ QUẦN ÁO</h3>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p class="text-secondary">(4 ngăn, trắng gỗ)</p>
                                <p>12.799.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="highlight-item">
                            <a href="../view/chitietsanpham.html">
                                <img src="../images/san-pham-noi-bat/sp-4.jpg" class="m-auto" alt="">
                                <h3 class="text-blue font-ultra fs-5 mt-3">KỆ ĐỂ ĐỒ</h3>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p class="text-secondary">(4 ngăn, trắng gỗ)</p>
                                <p>9.799.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="highlight-item">
                            <a href="../view/chitietsanpham.html">
                                <img src="../images/san-pham-noi-bat/sp-1.jpg" class="m-auto" alt="">
                                <h3 class="text-blue font-ultra fs-5 mt-3">GIƯỜNG CHÂU ÂU</h3>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p class="text-secondary">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="highlight-item">
                            <a href="../view/chitietsanpham.html">
                                <img src="../images/san-pham-noi-bat/sp-2.jpg" class="m-auto" alt="">
                                <h3 class="text-blue font-ultra fs-5 mt-3">BÀN LÀM VIỆC</h3>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p class="text-secondary">(Size vừa, trắng nâu)</p>
                                <p>10.999.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="highlight-item">
                            <a href="../view/chitietsanpham.html">
                                <img src="../images/san-pham-noi-bat/sp-3.jpg" class="m-auto" alt="">
                                <h3 class="text-blue font-ultra fs-5 mt-3">TỦ QUẦN ÁO</h3>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p class="text-secondary">(4 ngăn, trắng gỗ)</p>
                                <p>12.799.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="highlight-item">
                            <a href="../view/chitietsanpham.html">
                                <img src="../images/san-pham-noi-bat/sp-4.jpg" class="m-auto" alt="">
                                <h3 class="text-blue font-ultra fs-5 mt-3">KỆ ĐỂ ĐỒ</h3>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p class="text-secondary">(4 ngăn, trắng gỗ)</p>
                                <p>9.799.000 VNĐ</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- END: product -->

        <!-- BEGIN: about-us -->
        <section class="about-us">
            <div class="container position-relative">
                <h1 class="title-v1 text-white position-relative text-center pt-5">VỀ CHÚNG TÔI</h1>
                <div class="about row mt-5">
                    <div class="about-img col-lg-6 col-md-12">
                        <img class="w-100" src="../images/ve-chung-toi/ve-chung-toi.jpg" alt="">
                    </div>

                    <div class="about-content col-lg-6 col-md-12">
                        <div>
                            <h2 class="text-white">NỘI THẤT <span class="text-white font-ultra h1">HOÀNG HOAN</span>
                            </h2>
                            <h2 class="text-white">UY TÍN SONG HÀNH CHẤT LƯỢNG</h2><br>
                            <p class="text-white">Nội thất Hoàng Hoan chúng tôi tự hào là đứa con tinh thần ra đời sau
                                hơn 30 năm hoạt động trong lĩnh vực kinh doanh đồ gỗ nội thất với thương hiệu ĐỒ GỖ
                                HOÀNG HOAN nổi tiếng.</p>
                            <p class="text-white text-justify">Tài nguyên của chúng tôi là đội ngũ kiến trúc sư tốt
                                nghiệp ĐH Kiến Trúc Hà Nội với
                                nhiều năm kinh nghiệm, luôn tràn đầy nhiệt huyết và sức sáng tạo của tuổi trẻ. Thế mạnh
                                của chúng tôi là sở hữu xưởng nội thất hơn 10.000m2 tại Hà Nội sản xuất đa dạng các sản
                                phẩm với giá cả luôn cạnh tranh.</p>
                        </div>

                        <ul class="mt-4 p-0 row">
                            <li class="col-xs-6 col-sm-3 pb-3"><img src="../images/ve-chung-toi/ve-chung-toi-1.jpg"
                                    alt=""></li>
                            <li class="col-xs-6 col-sm-3 pb-3"><img src="../images/ve-chung-toi/ve-chung-toi-2.jpg"
                                    alt=""></li>
                            <li class="col-xs-6 col-sm-3 pb-3"><img src="../images/ve-chung-toi/ve-chung-toi-3.jpg"
                                    alt=""></li>
                            <li class="col-xs-6 col-sm-3 pb-3" id="see-more-img">
                                <img src="../images/ve-chung-toi/ve-chung-toi-4.jpg" alt="">
                                <p class="text-white" id="see-more">Xem thêm &gt;</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="whychoose mt-7rem pb-5">
                    <h1 class="title-v1 position-relative text-white text-center font-ultra">TẠI SAO NÊN CHỌN HOÀNG
                        HOAN?</h1>

                    <div class="whychoose-content mt-5 row">
                        <div class="content-item col-sm-12 col-md-6 pt-4">
                            <div class="bg-white p-4 d-flex">
                                <img src="../images/ve-chung-toi/chinh-sach.jpg" alt="">
                                <div class="d-flex flex-column justify-content-between ps-5 pt-3">
                                    <h2 class="text-gold font-ultra">CHÍNH SÁCH GIÁ</h2>
                                    <p>Tốt nhất và công khai giá trên website</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-item col-sm-12 col-md-6 pt-4">
                            <div class="bg-white p-4 d-flex">
                                <img src="../images/ve-chung-toi/san-pham.jpg" alt="">
                                <div class="d-flex flex-column justify-content-between ps-5 pt-3">
                                    <h2 class="text-gold font-ultra">SẢN XUẤT</h2>
                                    <p>Trực tiếp sản xuất bởi đội ngũ nhân viên hàng đầu</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-item col-sm-12 col-md-6 pt-4">
                            <div class="bg-white p-4 d-flex">
                                <img src="../images/ve-chung-toi/chat-luong.jpg" alt="">
                                <div class="d-flex flex-column justify-content-between ps-5 pt-3">
                                    <h2 class="text-gold font-ultra">CHẤT LƯỢNG</h2>
                                    <p>Cam kết chất lượng sản phẩm và tiến độ thi công</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-item col-sm-12 col-md-6 pt-4">
                            <div class="bg-white p-4 d-flex">
                                <img src="../images/ve-chung-toi/bao-hanh.jpg" alt="">
                                <div class="d-flex flex-column justify-content-between ps-5 pt-3">
                                    <h2 class="text-gold font-ultra">BẢO HÀNH</h2>
                                    <p>Dịch vụ bảo hành sản phẩm tốt nhất khu vực</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END: about-us -->

        <!-- BEGINnews -->
        <section class="news mt-7rem">
            <div class="container">
                <div class="news-main">
                    <h1 class="title-v1 position-relative text-center text-blue font-ultra">TIN TỨC</h1>

                    <div class="box mt-5 row">
                        <div class="news-img col-lg-6 col-sm-12 col-xs-12 pe-0 mb-3">
                            <img class="w-100" src="../images/tin-tuc/tintuc-1.jpg" alt="">
                            <div class="img-title">
                                <h3 class="text-white">Cách chọn sofa cho phòng khách nhà bạn thêm phần sang trọng</h3>
                                <p class="fs-12px text-lightdark">Home furniture, interior design furniture, bedroom
                                    furniture, wooden furniture - find photography of them all in our gallery of
                                    furniture photos. Everything is licensed under the free Pexels license. Find the
                                    best stock free photos here.
                                </p>
                            </div>
                        </div>

                        <div
                            class="news-content col-lg-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-between">
                            <div class="news-item d-flex pb-3">
                                <img src="../images/tintuc-2.jpg" alt="">
                                <div class="item-content ps-3">
                                    <h4 class="text-gold">Trang trí phòng khách cho thêm năng động</h4>
                                    <p class="fs-12px text-lightdark">Home furniture, interior design furniture, bedroom
                                        furniture, wooden furniture - find photography of them all in our gallery of
                                        furniture photos. Everything is licensed under the free Pexels license. Find the
                                        best stock free photos here.</p>
                                </div>
                            </div>

                            <div class="news-item d-flex pb-3">
                                <img src="../images/tintuc-3.jpg" alt="">
                                <div class="item-content ps-3">
                                    <h4 class="text-gold">Cập nhật xu hướng phòng khách phong cách tối giản</h4>
                                    <p class="fs-12px text-lightdark">Home furniture, interior design furniture, bedroom
                                        furniture, wooden furniture - find photography of them all in our gallery of
                                        furniture photos. Everything is licensed under the free Pexels license. Find the
                                        best stock free photos here.</p>
                                </div>
                            </div>

                            <div class="news-item d-flex pb-3">
                                <img src="../images/tintuc-4.jpg" alt="">
                                <div class="item-content ps-3">
                                    <h4 class="text-gold">Cách sắp xếp vị trí bàn ăn và nhà bếp một cách rộng rãi</h4>
                                    <p class="fs-12px text-lightdark">Home furniture, interior design furniture, bedroom
                                        furniture, wooden furniture - find photography of them all in our gallery of
                                        furniture photos. Everything is licensed under the free Pexels license. Find the
                                        best stock free photos here.</p>
                                </div>
                            </div>

                            <div class="xem-them">
                                <h3 class="text-gold">
                                    XEM THÊM
                                    <i class="fa-solid fa-arrow-right text-gold fs-3"></i>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="partner mt-7rem container">
                    <h1 class="title-v1 position-relative text-blue font-ultra text-center">ĐỐI TÁC</h1>
                    <div class="partner-list mt-5 d-flex">
                        <img style="width: calc(100%/7);" src="../images/doi-tac/vinpearl.png" alt="">
                        <img style="width: calc(100%/7);" src="../images/doi-tac/muong-thanh.png" alt="">
                        <img style="width: calc(100%/7);" src="../images/doi-tac/sheraton.png" alt="">
                        <img style="width: calc(100%/7);" src="../images/doi-tac/the-coffee-house.png" alt="">
                        <img style="width: calc(100%/7);" src="../images/doi-tac/marvella.png" alt="">
                        <img style="width: calc(100%/7);" src="../images/doi-tac/sunrise-sapa.png" alt="">
                        <img style="width: calc(100%/7);" src="../images/doi-tac/melissa.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- END: news -->

        <!-- BEGIN contact -->
        <section class="contact mt-7rem">
            <div
                class="container-contact d-flex py-5rem position-relative justify-content-evenly flex-lg-row justify-content-sm-end">
                <img class="contact-img" src="../images/lienhe-1_preview_rev_1.png" alt="">

                <div class="title-v2 position-relative ms-5">
                    <h3 class="text-white">Trải nghiệm dịch vụ</h3>
                    <h3 class="font-ultra text-white">cùng Hoàng Hoan ngay</h3>
                </div>

                <div class="form">
                    <label class="text-white">Thông tin liên hệ</label><br>
                    <div class="input mt-2">
                        <input class="px-5 py-3 border-0" style="width: 25rem;" type="text"
                            placeholder="Email/Số điện thoại">
                        <button class="px-5 py-3 border-0 ms-3" type="button">Gửi</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- BEGIN contact -->
    </main>

    <!-- BEGIN: footer -->
    <footer>
        <div class="container mt-3">
            <div class="infor">
                <div class="title">THÔNG TIN CHUNG</div>
                <ul class="list-infor p-0">
                    <li style="font-size: 1.7rem; font-family: 'font-medium';">CÔNG TY TNHH HOÀNG HOAN</li>
                    <li><i class="fa-solid fa-phone"></i>&nbsp;0.999.999</li>
                    <li><i class="fa-solid fa-envelope"></i>&nbsp;cskh@gmail.com</li>
                    <li><i class="fa-solid fa-location-dot"></i>&nbsp;Nguyễn trãi, Hà Nội</li>
                </ul>
            </div>

            <div class="about-us">
                <div class="title">VỀ CHÚNG TÔI</div>
                <ul class="list-pages p-0">
                    <li><a href="#">GIỚI THIỆU</a></li>
                    <li><a href="#">SẢN PHẨM</a></li>
                    <li><a href="#">TIN TỨC</a></li>
                    <li><a href="#">ĐỐI TÁC</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
            </div>

            <div class="contact">
                <div class="title">KẾT NỐI VỚI CHÚNG TÔI</div>
                <ul class="p-0">
                    <li>
                        <div>
                            <img src="../images/facebook.png" alt="">
                        </div>
                        <div>
                            <img src="../images/zalo.png" alt="">
                        </div>
                        <div>
                            <img src="../images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../images/xacnhan-bocongthong.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- END: footer -->

    <!-- slick -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.slide-product').slick({
                slidesToShow: 4,
                slidesToScroll: 2,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            autoplay: true,
                            autoplaySpeed: 2000,
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            autoplay: true,
                            autoplaySpeed: 2000,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            autoplay: true,
                            autoplaySpeed: 2000,
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
        });

        const handleClickMenu = () => {
            document.querySelector('.menu').classList.toggle('response-menu');
        }
    </script>
</body>

</html>