<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm</title>

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <!-- boostrap v5.3 css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- BEGIN: head -->
    <header>
        <nav>
            <div class="logo">
                <img src="../images/logo.png" alt="" style="width: 80%">
                <i class="fa-solid fa-bars" style="display: none;" onclick="handleClickMenu()"></i>
            </div>

            <ul class="menu">
                <li class="menu__item"><a href="../view/index.html">TRANG CHỦ</a></li>
                <li class="menu__item"><a href="../view/gioithieu.html">GIỚI THIỆU</a></li>
                <li class="menu__item selected"><a href="../view/sanpham.html">SẢN PHẨM</a></li>
                <li class="menu__item"><a href="../view/tintuc.html">TIN TỨC</a></li>
                <li class="menu__item"><a href="../view/doitac.html">ĐỐI TÁC</a></li>
                <li class="menu__item"><a href="../view/lienhe.html">LIÊN HỆ</a></li>
            </ul>
        </nav>
    </header>
    <!-- END: head -->

    <!-- BEGIN: main -->
    <main class="bg-gray">
        <section class="banner">
            <div class="img-banner position-relative">
                <img src="../images/xemtatca_sanpham/banner1.png" alt="" class="img-fluid">
                <button class="btn btn-buy bg-light rounded-0 btn-muangay">Mua ngay</button>
            </div>
        </section>

        <section class="menu">
            <div class="container">
                <div class="product bg-white mt-7rem p-5">
                    <div class="product-heading d-flex justify-content-between">
                        <h2 class="title-v4 text-blue font-ultra position-relative">
                            PHÒNG KHÁCH
                        </h2>
                        <div class="product-heading__link">
                            <a href="../view/sanpham-all.html">XEM TẤT CẢ</a>
                        </div>
                    </div>

                    <ul class="product-list mt-5 row">
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc-2.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/ke-dau-giuong.png" alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ke-ti-vi.png" alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="product bg-white mt-7rem p-5">
                    <div class="product-heading d-flex justify-content-between">
                        <h2 class="title-v4 text-blue font-ultra position-relative">
                            PHÒNG NGỦ
                        </h2>
                        <div class="product-heading__link">
                            <a href="../view/sanpham-all.html">XEM TẤT CẢ</a>
                        </div>
                    </div>

                    <ul class="product-list mt-5 row">
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="product bg-white mt-7rem p-5">
                    <div class="product-heading d-flex justify-content-between">
                        <h2 class="title-v4 text-blue font-ultra position-relative">
                            PHÒNG BẾP
                        </h2>
                        <div class="product-heading__link">
                            <a href="../view/sanpham-all.html">XEM TẤT CẢ</a>
                        </div>
                    </div>

                    <ul class="product-list mt-5 row">
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="product bg-white mt-7rem p-5">
                    <div class="product-heading d-flex justify-content-between">
                        <h2 class="title-v4 text-blue font-ultra position-relative">
                            PHÒNG TẮM
                        </h2>
                        <div class="product-heading__link">
                            <a href="../view/sanpham-all.html">XEM TẤT CẢ</a>
                        </div>
                    </div>

                    <ul class="product-list mt-5 row">
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="product bg-white mt-7rem p-5">
                    <div class="product-heading d-flex justify-content-between">
                        <h2 class="title-v4 text-blue font-ultra position-relative">
                            TRẺ EM
                        </h2>
                        <div class="product-heading__link">
                            <a href="../view/sanpham-all.html">XEM TẤT CẢ</a>
                        </div>
                    </div>

                    <ul class="product-list mt-5 row">
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="product bg-white mt-7rem p-5">
                    <div class="product-heading d-flex justify-content-between">
                        <h2 class="title-v4 text-blue font-ultra position-relative">
                            VĂN PHÒNG
                        </h2>
                        <div class="product-heading__link">
                            <a href="../view/sanpham-all.html">XEM TẤT CẢ</a>
                        </div>
                    </div>

                    <ul class="product-list mt-5 row">
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="product bg-white mt-7rem p-5">
                    <div class="product-heading d-flex justify-content-between">
                        <h2 class="title-v4 text-blue font-ultra position-relative">
                            CẦU THANG
                        </h2>
                        <div class="product-heading__link">
                            <a href="../view/sanpham-all.html">XEM TẤT CẢ</a>
                        </div>
                    </div>

                    <ul class="product-list mt-5 row">
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="product bg-white mt-7rem p-5 mb-5">
                    <div class="product-heading d-flex justify-content-between">
                        <h2 class="title-v4 text-blue font-ultra position-relative">
                            GIẢI TRÍ
                        </h2>
                        <div class="product-heading__link">
                            <a href="../view/sanpham-all.html">XEM TẤT CẢ</a>
                        </div>
                    </div>

                    <ul class="product-list mt-5 row">
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                        <li class="product-item col-lg-3 col-md-6 col-sm-12 text-center">
                            <a href="../view/sanpham-all.html">
                                <img class="w-100" src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png"
                                    alt="">
                                <h4 class="text-blue font-ultra mt-3">GIƯỜNG CHÂU ÂU</h4>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <i class="fa-solid fa-star text-gold"></i>
                                <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                                <p>8.399.000 VNĐ</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <!-- END: main -->

    <!-- BEGIN: footer -->
    <footer>
        <div class="container">
            <div class="infor">
                <div class="title">THÔNG TIN CHUNG</div>
                <ul class="list-infor">
                    <li style="font-size: 1.7rem; font-family: 'font-medium';">CÔNG TY TNHH HOÀNG HOAN</li>
                    <li><i class="fa-solid fa-phone"></i>&nbsp;0.999.999</li>
                    <li><i class="fa-solid fa-envelope"></i>&nbsp;cskh@gmail.com</li>
                    <li><i class="fa-solid fa-location-dot"></i>&nbsp;Nguyễn trãi, Hà Nội</li>
                </ul>
            </div>

            <div class="about-us">
                <div class="title">VỀ CHÚNG TÔI</div>
                <ul class="list-pages">
                    <li><a href="#">GIỚI THIỆU</a></li>
                    <li><a href="#">SẢN PHẨM</a></li>
                    <li><a href="#">TIN TỨC</a></li>
                    <li><a href="#">ĐỐI TÁC</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
            </div>

            <div class="contact">
                <div class="title">KẾT NỐI VỚI CHÚNG TÔI</div>
                <ul>
                    <li>
                        <div>
                            <img src="../images/facebook.png" alt="">
                        </div>
                        <div>
                            <img src="../images/zalo.png" alt="">
                        </div>
                        <div>
                            <img src="../images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img class="w-100" src="../images/xacnhan-bocongthong.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- END: footer -->

    <!-- slick -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        const handleClickMenu = () => {
            document.querySelector('.menu').classList.toggle('response-menu');
        }
    </script>
</body>

</html>