nav {
    background-color: gray;
    border-radius: 5px;
    height: 40px;
}

.list {
    list-style: none;
    display: flex;
}

.item {
    position: relative;
}

.list__child {
    list-style: none;
    display: flex;
    background-color: gray;
    display: none;
    position: absolute;
    padding: 0;
}

a {
    text-decoration: none;
}

.item__child a,
.item a {
    display: block;
    padding: 0 15px;
    line-height: 40px;
    border-left: 1px solid #393942;
    border-right: 1px solid #393942;
    color: #f3f3f3;
}

nav ul li:first-child a {
    border-left: none;
}

nav ul li:last-child a {
    border-right: none;
}

.item:hover>a {
    color: #8fde62;
}

.item:hover .list__child {
    display: block;
}

.item__child a {
    border: none;
}