<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/chitietsanpham.css">
</head>

<body>
    <!-- BEGIN: head -->
    <header>
        <nav>
            <div class="logo">
                <img src="../images/logo.png" alt="" style="width: 80%">
                <i class="fa-solid fa-bars" style="display: none;" onclick="handleClickMenu()"></i>
            </div>

            <ul class="menu">
                <li class="menu__item selected"><a href="../view/index.html">TRANG CHỦ</a></li>
                <li class="menu__item"><a href="../view/gioithieu.html">GIỚI THIỆU</a></li>
                <li class="menu__item"><a href="../view/sanpham.html">SẢN PHẨM</a></li>
                <li class="menu__item"><a href="../view/tintuc.html">TIN TỨC</a></li>
                <li class="menu__item"><a href="../view/doitac.html">ĐỐI TÁC</a></li>
                <li class="menu__item"><a href="../view/lienhe.html">LIÊN HỆ</a></li>
            </ul>
        </nav>
    </header>
    <!-- END: head -->

    <!-- BEGIN: main -->
    <main>
        <section class="link">
            <div class="container">
                <a href="../view/index.html">Trang chủ</a>
                &gt;
                <a href="../view/sanpham-all.html">Phòng khách</a>
                &gt;
                <a href="../view/chitietsanpham.html">Bàn uống nước</a>
            </div>
        </section>

        <section class="content">
            <div class="container">
                <div class="product">
                    <div class="product-img">
                        <h1 class="title">
                            Bàn uống nước
                        </h1>
                        <ul class="product-list1 slider-for">
                            <li class="product-item1"><img src="../images/chitietsanpham/anh1.png" alt=""></li>
                            <li class="product-item1"><img src="../images/chitietsanpham/anh2.png" alt=""></li>
                            <li class="product-item1"><img src="../images/chitietsanpham/anh3.png" alt=""></li>
                            <li class="product-item1"><img src="../images/chitietsanpham/anh4.png" alt=""></li>
                        </ul>
                        <ul class="product-list2 slider-nav">
                            <li class="product-item2"><img src="../images/chitietsanpham/anh1.png" alt=""></li>
                            <li class="product-item2"><img src="../images/chitietsanpham/anh2.png" alt=""></li>
                            <li class="product-item2"><img src="../images/chitietsanpham/anh3.png" alt=""></li>
                            <li class="product-item2"><img src="../images/chitietsanpham/anh4.png" alt=""></li>
                        </ul>
                    </div>

                    <div class="product-text">
                        <p id="product-title">Chất liệu</p>
                        <div class="box">
                            <div class="box1">Gỗ sồi</div>
                            <div class="box2">Gỗ lim</div>
                        </div>
                        <p class="price-none">12.999.000 VNĐ</p>
                        <p class="price-special">9.999.000 VNĐ</p>
                        <div class="protect">
                            <i class="fa-solid fa-shield-halved"></i>
                            Bảo hành sản phẩm lên tới 36 tháng
                        </div>
                    </div>
                </div>

                <div class="info">
                    <ul class="info-list">
                        <li class="info-item">Đặc trưng</li>
                        <li class="info-item">Thông số</li>
                        <li class="info-item">Bảo quản</li>
                        <li class="info-item">Bảo hành</li>
                        <li class="info-item">Cam kết</li>
                    </ul>

                    <div class="info-text">
                        <p>- Bàn cà phê cứng đơn giản với kệ mở</p>
                        <p>- Phong cách hình học tối giản</p>
                        <p>- Kệ bên trong có kích thước hoàn hảo cho tạp chí, đế lót ly và các phụ kiện phòng khách khác
                        </p>
                        <p>- Có thể được sử dụng như một bàn TV thấp - Kệ mỏng hoàn hảo để chứa một hộp hàng đầu hoặc
                            đầu
                            phát blu-ray</p>
                        <p>- Làm bằng gỗ Sheesham cao cấp</p>
                        <p>- Không cần lắp ráp.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="same-product">
            <div class="container">
                <h1 class="title">
                    SẢN PHẨM TƯƠNG TỰ
                </h1>
                <ul class="product-list">
                    <li class="product-item">
                        <a href="../view/chitietsanpham.html">
                            <img src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png" alt="">
                            <h3>GIƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                            <p>8.399.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/chitietsanpham.html">
                            <img src="../images/san-pham-noi-bat/phong-khach-ban-uong-nuoc-2.png" alt="">
                            <h3>GIƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                            <p>8.399.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/chitietsanpham.html">
                            <img src="../images/san-pham-noi-bat/ke-dau-giuong.png" alt="">
                            <h3>GIƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                            <p>8.399.000 VNĐ</p>
                        </a>
                    </li>
                    <li class="product-item">
                        <a href="../view/chitietsanpham.html">
                            <img src="../images/san-pham-noi-bat/phong-khach-ke-ti-vi.png" alt="">
                            <h3>GIƯỜNG CHÂU ÂU</h3>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p style="color: #a9a9a9">(Size lớn, trắng sữa)</p>
                            <p>8.399.000 VNĐ</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <!-- END: main  -->

    <!-- BEGIN: footer -->
    <footer>
        <div class="container">
            <div class="infor">
                <div class="title">THÔNG TIN CHUNG</div>
                <ul class="list-infor">
                    <li style="font-size: 1.7rem; font-family: 'font-medium';">CÔNG TY TNHH HOÀNG HOAN</li>
                    <li><i class="fa-solid fa-phone"></i>&nbsp;0.999.999</li>
                    <li><i class="fa-solid fa-envelope"></i>&nbsp;cskh@gmail.com</li>
                    <li><i class="fa-solid fa-location-dot"></i>&nbsp;Nguyễn trãi, Hà Nội</li>
                </ul>
            </div>

            <div class="about-us">
                <div class="title">VỀ CHÚNG TÔI</div>
                <ul class="list-pages">
                    <li><a href="#">GIỚI THIỆU</a></li>
                    <li><a href="#">SẢN PHẨM</a></li>
                    <li><a href="#">TIN TỨC</a></li>
                    <li><a href="#">ĐỐI TÁC</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
            </div>

            <div class="contact">
                <div class="title">KẾT NỐI VỚI CHÚNG TÔI</div>
                <ul>
                    <li>
                        <div>
                            <img src="../images/facebook.png" alt="">
                        </div>
                        <div>
                            <img src="../images/zalo.png" alt="">
                        </div>
                        <div>
                            <img src="../images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../images/xacnhan-bocongthong.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- END: footer -->

    <!-- slick -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                fade: true,
                asNavFor: '.slider-nav'
            });
            $('.slider-nav').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                arrows: false,
                asNavFor: '.slider-for',
                centerMode: true,
                focusOnSelect: true
            });
        });

        const handleClickMenu = () => {
            document.querySelector('.menu').classList.toggle('response-menu');
        }
    </script>
</body>

</html>