<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/doitac.css">
</head>

<body>
    <!-- BEGIN: head -->
    <header>
        <nav>
            <div class="logo">
                <img src="../images/logo.png" alt="" style="width: 80%">
                <i class="fa-solid fa-bars" style="display: none;" onclick="handleClickMenu()"></i>
            </div>

            <ul class="menu">
                <li class="menu__item"><a href="../view/index.html">TRANG CHỦ</a></li>
                <li class="menu__item"><a href="../view/gioithieu.html">GIỚI THIỆU</a></li>
                <li class="menu__item"><a href="../view/sanpham.html">SẢN PHẨM</a></li>
                <li class="menu__item"><a href="../view/tintuc.html">TIN TỨC</a></li>
                <li class="menu__item selected"><a href="../view/doitac.html">ĐỐI TÁC</a></li>
                <li class="menu__item"><a href="#">LIÊN HỆ</a></li>
            </ul>
        </nav>
    </header>
    <!-- END: head -->

    <!-- BEGIN: main  -->
    <main>
        <main>
            <!-- BEGIN BANNER -->
            <section id="banner">
                <img src="../images/gioi-thieu/bg-logo.png" alt="">
                <h1>ĐỐI TÁC</h1>
            </section>
            <!-- END BANNER -->

            <!-- BEGIN CONTENT  -->
            <section id="content">
                <div class="container">
                    <ul class="list-partner">
                        <li class="partner-item">
                            <img src="../images/doi-tac/vinpearl.png" alt="">
                            <div class="text-item">
                                <p class="title-item">Công ty cổ phần VInpearl</p>
                                <p class="des">Vinpearl là thương hiệu dịch vụ du lịch nghỉ dưỡng – giải trí lớn nhất
                                    Việt
                                    Nam. Vinpearl sở hữu chuỗi khách sạn, resort và trung tâm hội nghị đẳng cấp 5 sao,
                                    các
                                    khu vui chơi giải trí quốc tế tọa lạc tại những danh thắng du lịch nổi tiếng
                                    nhất của Việt Nam.</p>
                            </div>
                        </li>
                        <li class="partner-item">
                            <img src="../images/doi-tac/muong-thanh.png" alt="">
                            <div class="text-item">
                                <p class="title-item">TẬP ĐOÀN KHÁCH SẠN MƯỜNG THANH</p>
                                <p class="des">Tại Mường Thanh, chúng tôi mời bạn cùng khởi hành chuyến đi tìm về không
                                    gian
                                    thanh thản chứa đựng những nét văn hóa mang đậm tinh thần bản sắc Việt, nơi con
                                    người
                                    gắn kết và thân ái gửi trao nhau tình cảm chân thành.</p>
                            </div>
                        </li>
                        <li class="partner-item">
                            <img src="../images/doi-tac/sheraton.png" alt="">
                            <div class="text-item">
                                <p class="title-item">sheraton hanoI HOTEL</p>
                                <p class="des">Situated on the shores of Hanoi's West Lake and surrounded by its many
                                    local
                                    attractions, Sheraton Hanoi Hotel is just a quick drive to the bustling downtown of
                                    Hanoi City. Explore the nearby Old Quarter, home to Hoan Kiem Lake, Hanoi Opera and
                                    exceptional boutiques.</p>
                            </div>
                        </li>
                        <li class="partner-item">
                            <img src="../images/doi-tac/the-coffee-house.png" alt="">
                            <div class="text-item">
                                <p class="title-item">THE COFFEE HOUSE</p>
                                <p class="des">Tại The Coffee House, chúng tôi luôn trân trọng những câu chuyện và đề
                                    cao
                                    giá trị Kết nối con người. Chúng tôi mong muốn The Coffee House sẽ trở thành “Nhà Cà
                                    Phê", nơi mọi người xích lại gần nhau và tìm thấy niềm vui, sự sẻ chia thân tình bên
                                    những tách cà phê đượm hương, chất lượng.</p>
                            </div>
                        </li>
                        <li class="partner-item">
                            <img src="../images/doi-tac/marvella.png" alt="">
                            <div class="text-item">
                                <p class="title-item">Marvella Hotel Nha Trang</p>
                                <p class="des">Marvella một thương hiệu khách sạn 4 sao mới xây dựng theo phong cách tân
                                    cổ
                                    điển, sang trọng.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- END CONTENT -->
        </main>
    </main>
    <!-- END: main  -->

    <!-- BEGIN: footer -->
    <footer>
        <div class="container">
            <div class="infor">
                <div class="title">THÔNG TIN CHUNG</div>
                <ul class="list-infor">
                    <li style="font-size: 1.7rem; font-family: 'font-medium';">CÔNG TY TNHH HOÀNG HOAN</li>
                    <li><i class="fa-solid fa-phone"></i>&nbsp;0.999.999</li>
                    <li><i class="fa-solid fa-envelope"></i>&nbsp;cskh@gmail.com</li>
                    <li><i class="fa-solid fa-location-dot"></i>&nbsp;Nguyễn trãi, Hà Nội</li>
                </ul>
            </div>

            <div class="about-us">
                <div class="title">VỀ CHÚNG TÔI</div>
                <ul class="list-pages">
                    <li><a href="#">GIỚI THIỆU</a></li>
                    <li><a href="#">SẢN PHẨM</a></li>
                    <li><a href="#">TIN TỨC</a></li>
                    <li><a href="#">ĐỐI TÁC</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
            </div>

            <div class="contact">
                <div class="title">KẾT NỐI VỚI CHÚNG TÔI</div>
                <ul>
                    <li>
                        <div>
                            <img src="../images/facebook.png" alt="">
                        </div>
                        <div>
                            <img src="../images/zalo.png" alt="">
                        </div>
                        <div>
                            <img src="../images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../images/xacnhan-bocongthong.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- END: footer -->

    <script>
        const handleClickMenu = () => {
            document.querySelector('.menu').classList.toggle('response-menu');
        }
    </script>
</body>

</html>