<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/gioithieu.css">
</head>

<body>
    <!-- BEGIN: head -->
    <header>
        <nav>
            <div class="logo">
                <img src="../images/logo.png" alt="" style="width: 80%">
            </div>

            <ul class="menu">
                <li class="menu__item"><a href="../view/index.html">Trang chủ</a></li>
                <li class="menu__item selected"><a href="../view/gioithieu.html">Giới thiệu</a></li>
                <li class="menu__item"><a href="#">Sản phẩm</a></li>
                <li class="menu__item"><a href="#">Tin tức</a></li>
                <li class="menu__item"><a href="#">Đối tác</a></li>
                <li class="menu__item"><a href="#">Liên hệ</a></li>
            </ul>
        </nav>
    </header>
    <!-- END: head -->

    <!-- BEGIN: main -->

    <!-- END: main -->

    <main>
        <section class="banner">
            <img src="../images/gioi-thieu/bg-logo.png" alt="">
            <h1>GIỚI THIỆU</h1>
        </section>

        <section class="content">
            <div class="container">
                <div class="develop">
                    <h1 class="title">
                        THÀNH LẬP VÀ PHÁT TRIỂN
                    </h1>
                    <div class="item">
                        <div class="item-img">
                            <img src="../images/gioi-thieu/anh-1.png" alt="">
                        </div>
                        <div class="item-text">
                            <p>Nội thất Hoàng Hoan được xây dựng dựa trên tình yêu, đam mê của tôi đối với nghề và khao
                                khát mang những sản phẩm nội thất đẹp của mình đến với những khách hàng thân yêu.</p>
                            <p>Cả mộ quá trình từ 1 người thợ phụ rồi được làm thợ chính, tự tạo cho mình 1 phân xưởng
                                nhỏ dần phát triển và hiện tại Hoàng Hoan đã là 1 trong những công ty có dịch vụ thiết
                                kế và thi công nội thất uy tín chất lượng với giá cả tốt nhất tại Hà Nội với sứ mệnh
                                "đem đến cho khách hàng không gian nội thất hoàn hảo".</p>
                            <p>Hoàng Hoan luôn nỗ lực để tạo ra không gian đẹp cho khách hàng theo nhiều gam màu khác
                                nhau và phong cách đa dạng, theo đúng ở thích, lứa tuổi và phong thủy của khách hàng.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="vision">
                    <h1 class="title">
                        TẦM NHÌN
                    </h1>

                    <img src="../images/gioi-thieu/anh-2.png" alt="">

                    <p>Chúng tôi luôn hướng đến việc tạo ra các sản phẩm nội thất trên triết lý tôn trọng và giữ gìn
                        những gì tự nhiên đã ban tặng cho con người. Chúng tôi luôn tìm tòi và ứng dụng các giải pháp
                        sản phẩm và công nghệ tiên tiến nhất, hợp tác với các đối tác công nghệ hàng đầu thế giới, tìm
                        kiếm và phát triển các vùng nguyên liệu tự nhiên được thiên nhiên chọn lọc, ưu đãi trong nước
                        lẫn nước ngoài, tất cả nhằm tạo ra các sản phẩm nội thất tự nhiên gần gữi cho người khách hàng
                        Việt Nam.</p>
                </div>

                <div class="mission">
                    <h1 class="title">
                        SỨ MỆNH
                    </h1>

                    <div class="mission-menu">
                        <div class="mission-item">
                            <div class="img-box">
                                <img src="../images/gioi-thieu/su-menh-1.png" alt="">
                            </div>
                            <div class="item-text">
                                <h4>Với xã hội</h4>
                                <p>Hài hòa lợi ích doanh nghiệp với lợi ích xã hội, tích cực cùng cộng đồng xây dựng môi
                                    trường sống bền vững</p>
                            </div>
                        </div>
                        <div class="mission-item">
                            <div class="img-box">
                                <img src="../images/gioi-thieu/su-menh-2.png" alt="">
                            </div>
                            <div class="item-text">
                                <h4>Với nhân viên</h4>
                                <p>Xây dựng môi trường làm việc chuyên nghiệp, năng động,
                                    sáng tạo và nhân văn.</p>
                            </div>
                        </div>
                        <div class="mission-item">
                            <div class="img-box">
                                <img src="../images/gioi-thieu/su-menh-2.png" alt="">
                            </div>
                            <div class="item-text">
                                <h4>Với đối tác</h4>
                                <p>Đề cao tinh thần hợp tác cùng phát triển,cam kết trở thành
                                    “Người đồng hành số 1” của các đối tác.</p>
                            </div>
                        </div>
                        <div class="mission-item">
                            <div class="img-box">
                                <img src="../images/gioi-thieu/su-menh-4.png" alt="">
                            </div>
                            <div class="item-text">
                                <h4>Với thị trường</h4>
                                <p>Đề cao tinh thần hợp tác cùng phát triển,cam kết trở thành
                                    “Người đồng hành số 1” của các đối tác.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- BEGIN: footer -->
    <footer>
        <div class="container">
            <div class="infor">
                <div class="title">THÔNG TIN CHUNG</div>
                <ul class="list-infor">
                    <li style="font-size: 1.7rem; font-family: 'font-medium';">CÔNG TY TNHH HOÀNG HOAN</li>
                    <li><i class="fa-solid fa-phone"></i>&nbsp;0.999.999</li>
                    <li><i class="fa-solid fa-envelope"></i>&nbsp;cskh@gmail.com</li>
                    <li><i class="fa-solid fa-location-dot"></i>&nbsp;Nguyễn trãi, Hà Nội</li>
                </ul>
            </div>

            <div class="about-us">
                <div class="title">VỀ CHÚNG TÔI</div>
                <ul class="list-pages">
                    <li><a href="#">GIỚI THIỆU</a></li>
                    <li><a href="#">SẢN PHẨM</a></li>
                    <li><a href="#">TIN TỨC</a></li>
                    <li><a href="#">ĐỐI TÁC</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
            </div>

            <div class="contact">
                <div class="title">KẾT NỐI VỚI CHÚNG TÔI</div>
                <ul>
                    <li>
                        <div>
                            <img src="../images/facebook.png" alt="">
                        </div>
                        <div>
                            <img src="../images/zalo.png" alt="">
                        </div>
                        <div>
                            <img src="../images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../images/xacnhan-bocongthong.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- END: footer -->
</body>

</html>