* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #222;
    font-family: 'font-medium';
}

a {
    text-decoration: none;
    color: #000;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header {
    border-bottom: 1px solid #ccc;
}

header nav {
    display: flex;
    align-items: center;
    width: calc(12*100%/18);
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
}

header nav .menu {
    display: flex;
    width: calc(7*100%/12);
    justify-content: space-between;
}

header nav .menu li {
    position: relative;
}

.selected:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    background-color: #bd945f;
    height: 0.2rem;
    width: 2.5rem;
    border-radius: 0.14rem;

}

header nav .menu li:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    background-color: #bd945f;
    height: 0.2rem;
    width: 2.5rem;
    border-radius: 0.14rem;

}

/* main  */
.text-gold {
    color: #bd945f;
}

.text-blue {
    color: #2c2e53
}

.bg-gold {
    background-color: #bd945f;
}

.bg-gray {
    background-color: #f3f3f3;
}

main .banner .banner-container {
    position: relative;
}

.introduction {
    position: absolute;
    left: 0;
    top: 10%;
    right: 0;
    width: calc(12*100%/18);
    margin: auto;
}

/* footer */
footer {
    margin-top: auto;
    background-color: #363636;
}

footer .container {
    display: flex;
    width: calc(12*100%/18);
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
    line-height: 1.8rem;
}

footer li,
footer a,
footer .title,
footer i {
    color: #fff;
}

footer a,
footer li {
    font-family: 'font-thin';
}

footer .title {
    margin-bottom: 1rem;
    position: relative;
}

footer .title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    height: 0.2rem;
    width: 5rem;
}

footer .contact ul li div {
    width: 3rem;
    margin-right: 1rem;
}

footer .contact ul li div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .contact ul li:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

footer .contact ul li:last-child div {
    width: 10rem;
}