* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #222;
    font-family: 'font-medium';
}

a {
    text-decoration: none;
    color: #000;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header {
    border-bottom: 1px solid #ccc;
}

header nav {
    display: flex;
    align-items: center;
    width: calc(12*100%/18);
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
}

header nav .menu {
    display: flex;
    width: calc(7*100%/12);
    justify-content: space-between;
}

header nav .menu li {
    position: relative;
}

.selected:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    background-color: #bd945f;
    height: 0.2rem;
    width: 2.5rem;
    border-radius: 0.14rem;

}

header nav .menu li:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    background-color: #bd945f;
    height: 0.2rem;
    width: 2.5rem;
    border-radius: 0.14rem;

}

/* main  */
.text-gold {
    color: #bd945f;
}

.text-blue {
    color: #2c2e53
}

.bg-gold {
    background-color: #bd945f;
}

.bg-gray {
    background-color: #f3f3f3;
}

main .banner .banner-container {
    position: relative;
}

.introduction {
    position: absolute;
    left: 0;
    top: 10%;
    right: 0;
    width: calc(12*100%/18);
    margin: auto;
}

.title-v1::after {
    content: "";
    position: absolute;
    background-color: #bd945f;
    left: 44%;
    right: 44%;
    height: 0.5rem;
    bottom: -0.6rem;
}

.font-ultra {
    font-family: 'font-ultra';
}

.font-thin {
    font-family: 'font-thin';
}

.mt-7rem {
    margin-top: 7rem;
}

.mb-7rem {
    margin-bottom: 7rem;
}

.slick-prev:before {
    color: #bd945f;
    font-size: 3rem;
}

.slick-next:before {
    color: #bd945f;
    font-size: 3rem;
}

main .about-us {
    position: relative;
}

main .about-us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/ve-chung-toi/bg-about-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    filter: brightness(30%);
}

main .news .container .news-img {
    position: relative;
}

main .news .container .news-img .img-title {
    position: absolute;
    background-color: #bd945f;
    padding: 2rem;
    bottom: 0;
}

.text-lightdark {
    color: #222;
}

.fs-12px {
    font-size: 12px;
}

.text-justify {
    text-align: justify;
}

#see-more-img {
    position: relative;
}

#see-more {
    position: absolute;
    left: 10%;
    bottom: 35%;
}

main .banner .btn-buy {
    position: absolute;
    left: 74%;
    top: 55%;
}

main .products .title {
    position: relative;
}

.button-filter {
    cursor: pointer;
}

.button-filter:hover {
    color: #343659;
}

main .contact .container-contact {
    background-image: url('../images/lienhe-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.contact-img {
    position: absolute;
    width: 15%;
    left: 3%;
    bottom: 10%;
}

.py-5rem {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.title-v2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    height: 0.5rem;
    width: 12rem;
}

main .banner-gioithieu {
    width: 100%;
    height: 30rem;
    background-image: url('../images/gioi-thieu/bg-gioithieu.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mx-7rem {
    margin-left: 7rem;
    margin-right: 7rem;
}

.mb-7rem {
    margin-bottom: 7rem;
}

.mt--4rem {
    margin-top: -4rem;
}

.border-gold {
    border: 2px solid #bd945f;
}

#banner-doitac {
    background-image: url('../images/doi-tac/doitac-mainvip.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    z-index: 1;
    position: relative;
}

#banner-lienhe {
    background-image: url('../images/lien-he/lienhe-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    z-index: 1;
    position: relative;
}

.ps-7rem {
    padding-left: 7rem;
}

.p-7rem {
    padding: 7rem;
}

.px-5rem {
    padding-left: 5rem;
    padding-right: 5rem;
}

.page-number__item-tintuc:hover {
    color: #222 !important;
    background-color: #bd945f !important;
    cursor: pointer;
}

.title-v3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #bd945f;
    height: 0.3rem;
    width: 20%;
}

/* footer */
footer {
    margin-top: auto;
    background-color: #363636;
}

footer .container {
    display: flex;
    width: calc(12*100%/18);
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
    line-height: 1.8rem;
}

footer li,
footer a,
footer .title,
footer i {
    color: #fff;
}

footer a,
footer li {
    font-family: 'font-thin';
}

footer .title {
    margin-bottom: 1rem;
    position: relative;
}

footer .title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    height: 0.2rem;
    width: 5rem;
}

footer .contact ul li div {
    width: 3rem;
    margin-right: 1rem;
}

footer .contact ul li div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .contact ul li:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

footer .contact ul li:last-child div {
    width: 10rem;
}

/* responsive */

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    /* header */

    header nav .menu {
        width: calc(9*100%/12);
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    /* header */

    header nav {
        display: block;
        padding: 0;
        width: 100%;
    }

    header nav .menu {
        display: none;
        background-color: #bd945f;
    }

    header nav .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav .logo img {
        width: 10% !important;
        padding: 1rem;
    }

    header nav {
        position: relative;
    }

    header nav .response-menu {
        display: block;
        width: 100%;
        animation: menu .3s ease-in;
        transform-origin: top center;
    }

    header nav .response-menu .menu__item {
        padding: 0.5rem 2rem;
        animation: item .8s ease-in;
        transform-origin: top center;
    }

    header nav .response-menu .menu__item a {
        border-bottom: 1px solid #fff;
        color: #fff;
        display: block;
        padding: 0.5rem;
    }

    header nav .response-menu .menu__item:last-child a {
        border: none;
    }

    .fa-bars {
        display: block !important;
        font-size: 2rem;
        padding: 1rem;
    }

    @keyframes menu {
        0% {
            transform: rotateY(-90deg);
        }

        100% {
            transform: rotateY(0);
        }
    }

    @keyframes item {
        0% {
            transform: rotateX(-90deg);
        }

        100% {
            transform: rotateX(0);
        }
    }

    /* footer */

    main .contact .container {
        padding: 3rem 5rem;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* footer */

    footer .container {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    footer .container .about-us,
    footer .container .contact,
    footer .container .infor {
        width: calc(100%/3);
        padding: 1rem;
    }
}