.clearfix {
    overflow: hidden;
    clear: both;
}

#logo {
    width: 100%;
}

#logo img {
    width: 150px;
    height: 100%;
}

header {
    background-color: rgb(31 31 31);
}

.topnav {
    display: flex;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0 50px 0 0;
    height: 100%;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 116px;
}

.selected,
.topnav nav ul li a:hover {
    color: #f06c64;
}

.widthfix {
    margin: 0 auto;
    width: 960px;
}

#banner {
    padding: 50px 0;
    background-color: #2d303a;
}

#ourServices {
    padding: 50px;
}

#ourServices h1 {
    font-size: 30px;
    color: #666d89;
}

#ourServices p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
}

.itemService {
    width: 200px;
    float: left;
    margin: 0 20px 0 80px;
}

#portfolio {
    padding: 50px;
    background-color: #2d303a;
}

#portfolio p,
#portfolio h2 {
    color: #767e9e;
}

.portfolio ul {
    display: flex;
    padding-left: 0;
}

.portfolio ul li {
    list-style: none;
    margin-right: 10px;
}

.portfolio ul li a {
    text-decoration: none;
    color: #767e9e;
    padding: 3px 5px;
    border: 1px solid #666d89;
    border-radius: 5px;
}

.selectedx,
.portfolio ul li:hover a {
    color: #fff !important;
    border: 1px solid #fff !important;
}

.itemx {
    width: 200px;
    height: 200px;
    float: left;
    margin: 15px;
}

.itemx img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

#aboutUs {
    padding: 66px 0;
    background: #f2f2f2;
}

#aboutUs .itemAvata h4,
#ourServices h3 {
    font-size: 18px;
    color: #666d89;
}

#aboutUs .itemAvata p,
#ourServices p {
    line-height: 21px;
}

.itemAvata {
    width: 300px;
    float: left;
    margin-right: 30px;
}

.itemAvata img {
    width: 300px;
    height: 250px;
    margin-bottom: 20px;
}

.itemfix {
    margin-right: 0px;
}

.itemAvata ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.itemAvata ul li {
    margin-right: 10px;
}

.itemAvata ul li a {
    display: block;
    color: #767e9e;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #767e9e;
    border-radius: 50%;
}

#getaQuote {
    padding: 66px;
    background: #f2f2f2;
}

.itemform {
    float: left;
    width: 620px;
}

.itemform input,
.itemform textarea {
    background: wheat;
    width: 90%;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #666d89;
}

.contactform {
    float: left;
    width: 300px;
}

.contactform h4 {
    font-size: 18px;
    color: #666d89;
}

.contactform .css,
.contactform a {
    color: #666d89 !important;
}

.contactform ul {
    list-style: none;
}

.contactform ul li a {
    background-position: 0 9px;
    display: block;
    padding: 5px 10px;
}

button {
    margin-right: 50px;
    padding: 5px;
    font-size: 18px;
    float: right;
    border-radius: 5px;
    background: #2d303a;
    color: #fff;
    cursor: pointer;
}

footer .footer li,
#aboutUs .itemAvata ul li {
    float: left;
    margin-right: 5px;
}


footer {
    background: #2d303a;
    padding: 22px 0;
}

footer .footer {
    float: right;
    list-style: none;
}

footer address {
    float: left;
    width: 300px;
    padding-top: 10px;
    color: #c5c5c5;
}

.footer li a {
    color: #fff;
}